# Serial console
CONFIG_ESP_CONSOLE_UART_DEFAULT=y
CONFIG_ESP_CONSOLE_UART_BAUDRATE=115200

# Logging
CONFIG_LOG_DEFAULT_LEVEL_INFO=y

# Reduce bootloader verbosity a bit
CONFIG_BOOTLOADER_LOG_LEVEL_INFO=y

# Example defaults
CONFIG_HELLO_BLINK_GPIO=2
