menu "MQTT Node Options"

config MQTT_USE_WIFI
    bool "Usar WiFi"
    default n

config MQTT_USE_ETH
    bool "Usar Ethernet"
    default y

config MQTT_USE_THREAD
    bool "Usar Thread (ESP32-H2/H4)"
    default n

config APP_USE_ETHERNET
    bool "Usar Ethernet (modo QEMU/bridge)"
    default n

config MQTT_WIFI_SSID
    string "WiFi SSID"
    default "YOUR_SSID"

config MQTT_WIFI_PASS
    string "WiFi Password"
    default "YOUR_PASS"

config MQTT_BROKER_URI
    string "MQTT Broker URI"
    default "mqtt://test.mosquitto.org:1883"

config TB_HOST
    string "ThingsBoard Host"
    default "host.docker.internal"

config TB_PORT
    int "ThingsBoard MQTT Port"
    default 1883

config TB_TOKEN
    string "ThingsBoard Device Token"
    default "YOUR_TB_DEVICE_TOKEN"

endmenu
