menu "Hello ESP32 app configuration"

config HELLO_BLINK_GPIO
    int "GPIO para LED (blink)"
    range 0 39
    default 2
    help
        Selecciona el GPIO del LED para el ejemplo de parpadeo.

endmenu
